html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #faf5fc;
  }

  @font-face {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
    src: local('fonts/MPLUSRounded1c-Regular.ttf'), 
         local('fonts/MPLUSRounded1c-Regular.ttf'), 
         url('MPLUSRounded1c-Regular') format('truetype'),
         url('MPLUSRounded1c-Regular.svg#font') format('svg'); 
}

  /*--- navigation bar ---*/
  .navbar {
    background:#000000;
  }
  .nav-link,
  .navbar-brand {
    color: rgb(85, 85, 85);
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: rgb(116, 116, 116);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .header {
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(41, 41, 41, 0.6);
  }

  .img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #161515;
  color:  #161515;
}

  
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  .description h1 {
    color: #fffcd3;
  }
  
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }


  .aboutstuff {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutstuff p {
    font-size: 1.0rem;
    line-height: 1.0;
    text-align: left;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }

  .aboutstuff h2 {
    margin-bottom: 25px;
    color: white;
  }
  .image-wrap {width: 80%}
  .image-wrap img{
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999999;
  }

  .coolborder {
    border: 3px solid rgb(17, 17, 17);
    background: rgb(0, 0, 0);
    padding: 30px;
  }

  .mb-4 {
    display: block;
    margin: 50px 100px 150px;
  }

  a {
    color: rgb(53, 54, 83);
  }

  a:hover {
    color: rgb(98, 95, 145);
  }
  .page-content {
    display: block;
    margin: 50px 100px 150px;
  }

  .image-art{width: 100%}
  .image-art img{
    width: 100%;
    padding: 10px;
  }

  .p-column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .p-row::after {
    content: "";
    clear: both;
    display: table;
  }
